<h2>Update the drone</h2>
<form action="/drones/update" method="post">
    <div>
        <label class="label" for="name" >New Name</label>
        <input type="text" class="input" name="name" value="{{drone.name}}">
    </div>
    <div>
        <label class="label" for="propellers" >New Propellers</label>
        <input type="number" class="input" name="propellers" value="{{drone.propellers}}">
    </div>
    <div>
        <label class="label" for="maxSpeed" >New Max Speed</label>
        <input type="number" class="input" name="maxSpeed" value="{{drone.maxSpeed}}">
    </div>
    <button>
        Update !
    </button>

</form>